.die {
    width: 150px;
    border: 1px solid black;
    height: 250px;
    float: left;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.die span {
    font-size: 40px;
    position: absolute;
    top: 95px;
    left: 20px;
}